<h1><%= @representative.name %></h1>
<p><%= @representative.office %></p>
<p>Contact Address: <%= @additional_info[:address] %></p>
<p>Political Party: <%= @additional_info[:party] %></p>
<p><%= image_tag @additional_info[:photo] %></p>