.row.mt-2
  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %h1.text-center Search Rep and Issue

  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    = form_tag(representative_fake_articles_path(@representative), method: :post) do
      .form-group
        = label_tag 'selected_representative', 'Select Representative:'
        = select_tag 'selected_representative', options_for_select(@representatives_list), prompt: 'Choose Representative', class: 'form-control', required: true

      .form-group
        = label_tag 'selected_issue', 'Select Issue:'
        = select_tag 'selected_issue', options_for_select(["Free Speech", "Immigration", "Terrorism", "Social Security and Medicare", "Abortion", "Student Loans", "Gun Control", "Unemployment", "Climate Change", "Homelessness", "Racism", "Tax Reform", "Net Neutrality", "Religious Freedom", "Border Security", "Minimum Wage", "Equal Pay"]), prompt: 'Choose Issue', class: 'form-control', required: true

      .clearfix.mt-3
        .float-right
          = submit_tag 'Create News Item', class: 'btn btn-primary'

  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    .clearfix.mt-3
      .float-right
        = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
          View news articles
          %i.fas.fa-arrow-right
